.arrow{
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #4b4b4b;
    color: white;
    padding: 40px;
    border-top: 1px solid yellow;
}
.arrow .arr1 .left{
    height: 30px;
    width: 30px;
    flex: 5;
}
.arrow .arr1{
    flex: 9;
}
.arrow .arr2{
    flex:1;
}
.arrow .arr2 .right{
    height: 30px;
    width: 30px;
    flex: 1;
}
@media(min-width:468px){
    .arrow{
        display: flex;
        margin: auto;
        align-items: center;
        background-color:#4b4b4b;
        color: white;
        padding: 40px;
        border-top: 1px solid yellow;
        width: 50%;
    }
}