.arrow{
    display: flex;
    margin: auto;
    align-items: center;
    color: white;
    padding: 40px;
}
.arrow .arr1 .left{
    height: 30px;
    width: 30px;
    flex: 5;
}
.arrow .arr1{
    flex: 9;
}
.arrow .arr2{
    flex:1;
}
.arrow .arr2 .right{
    height: 30px;
    width: 30px;
    flex: 1;
}
@media(min-width:468px){
    .arrow{
        display: flex;
        margin: auto;
        align-items: center;
        color: white;
        padding: 40px;
        width: 50%;
    }
}