.switch{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 40px;
}
.switch .cel{
    flex: 3;
}
.switch .fah{
    flex: 2;
}
.radio{
    width: 20px;
    height: 20px;
}
@media(min-width:468px){
    .switch{
        display: flex;
        margin: auto;
        align-items: center;
        padding: 40px;
        width: 50%;
    }
}


