.switch{
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #4b4b4b;
    color: white;
    padding: 40px;
}
.switch .cel{
    flex: 5;
}
.switch .fah{
    flex: 1;
}
.radio{
    width: 20px;
    height: 20px;
}
@media(min-width:468px){
    .switch{
        display: flex;
        margin: auto;
        align-items: center;
        background-color: #4b4b4b;
        color: white;
        padding: 40px;
        width: 50%;
    }
}


