.weathercard .card{
    margin: auto;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    justify-content: center;
    display: flex;
}
.weathercard .card .inner .content{
    font-family: 'Roboto', sans-serif;
}
.weathercard .card .inner .content .sun{
    color: #FFC107; 
}
.weathercard .card .inner .content .cloud{  
    color: #87CEEB;   
}
.weathercard .card .inner .content .rain{
    color: #87CEEB;
}
.weathercard .card .inner .content .description{
    padding-top: 20px;
}
.weathercard .card .inner .content div{
    padding: 5px;
    font-family: 'public sans';
}
@media(min-width:468px){
    .weathercard{
        display: flex;
        margin: auto;
        padding: 10px 40px 10px 40px;
        overflow: hidden;
        width: 50%;
        text-align: center;
        justify-content: center;
    }
    
}